/* Reset default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.content-container {
    position: relative;
    overflow: hidden;
}

.image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top left;
}

.zoom-controls {
    position: absolute;
    top: 20px;
    right: 20px;
}

.zoom-button {
    display: block;
    margin-bottom: 10px;
}
